html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(236, 236, 236);
}

.master-page {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__sub-header {
    padding: 5px 10px;
    text-align: center;
    background-color: rgb(228, 228, 228);

    > a {
      justify-items: center;
      align-items: center;
      justify-content: center;
      display: flex;
      color: black;

      > img {
        height: 16px;
        margin-right: 5px;
      }
    }
  }

  &__body {
    flex: 1;
    display: flex;
  }
}
